[Unit]
Description=LinuxGSM Rust Server
After=network-online.target
Wants=network-online.target

[Service]
Type=forking
User=rustserver
WorkingDirectory=/home/rustserver
RemainAfterExit=yes   #Assume that the service is running after main process exits with code 0
ExecStart=/home/rustserver/rustserver start
ExecStop=/home/rustserver/rustserver stop
Restart=no

[Install]
WantedBy=multi-user.target
